@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (!string.IsNullOrEmpty(ViewBag.Username))
    {
        <h1 class="display-4">Welcome to Adventure Logger, @ViewBag.Username!</h1>
        <form asp-controller="Home" asp-action="Logout" method="post">
            <button type="submit" class="btn btn-link">Logout</button>
        </form>
    }
    else
    {
        <h1 class="display-4">Welcome to Adventure Logger!</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        
    }
</div>
